@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fundo Global */
body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

/* Scrollbar Bonita */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }